Add User works
 <div id="mySidenavg" class="sidenavg">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNavigate()">&times;</a>
  <div style="margin: 20px">
   <h2 style="color: #333333" style="font-size: 22px;">Add User </h2>
         <hr style=" margin: 5px;"/>

            <h2 class="app-form-field-title"  style="font-size: 22px;">Name $ Email</h2>
            <p>we will email this user login instructions once you create their user account</p>
            <div class="form-group">
                <div class="form-group">



                                                    <input type="text" class="input-sm form-control" name="start"  value="amany"/>

                                                    <input type="text" class="input-sm form-control" name="end" style="margin-top: 9px;" value="mhmd" />
                                                    <input type="text" class="input-sm form-control" name="" style="margin-top: 9px;" value="email" />

                                            </div>
              </div>
                <p>Password</p>
                <p>we will email the user alink to reset their outo-generated password</p>
              <!-- <center><button  id="myBtn" class="btn btn-success" style="margin-top: 20px;">Add Shift</button>   </center> -->
</div>
  </div>   
