<app-right-sidebar [bugerBox]='true'>
  <h2>Users</h2>
  <div card-body style="padding-left:20px">

  <app-add-user></app-add-user>

  </div>
</app-right-sidebar>

<div>
 <section class="copm-back" >
    <div >
      <div>
            <strong>Active</strong>
   
      <div *ngIf="userSelected" style="float: right;">
        <button>Edit</button> <button>Delete</button>
      </div>
    </div>
      <br><br>
    </div>
    <table id="example" class="table table-hover">
      <thead></thead>
<tbody class="t-item" >

  <tr *ngFor= "let user of users"  data-toggle="modal" data-target=".bs-example-modal-lg">
   
    <td> <label><input name='statusGroup' type="checkbox" [(ngModel)]="hello"></label> </td>
      <td >
        <div>
            <span><span class="glyphicon glyphicon-user" style="color:cornflowerblue;padding-right: 11px;"></span></span>  {{ user.name }}
        </div>
    </td>

     <td >  {{user.firstname}}</td>

     <td >  {{user.lastname}}</td>

     <td >  {{user.jobtitle}}</td>
          <td >  {{user.email}}</td>
    <td> <button (click)="deleteUser(user.name)">Delete</button></td>
        <td> <button (click)=onSelect(user)>Edit</button></td>


    </tr>

</tbody>
</table>
                        
</section>
  </div>



<!-- <div  class="copm-back">
  <app-add-user></app-add-user>
</div>

<div  class="copm-back">
  <app-user-profile></app-user-profile>
</div> -->

<!-- <router-outlet></router-outlet> -->