
<div class="container-fluid">

 <div class="row time-row">
       <div class="col-md-12">
          <h1>users</h1>
          
  

       </div>

 </div>

<!--<app-right-sidebar [bugerBox]='true'>
  <h1>Users</h1>
  <div card-body style="padding-left:20px">
  <app-add-user></app-add-user>
  </div>
</app-right-sidebar>-->
<flash-messages></flash-messages>


<div class="row">
  <div class="col-md-12">


<div>

 <section class="copm-back" >
    <div >
      <div>
          <strong>Active</strong>   
      <div *ngIf="!isUserSelected" style="float: right;">
        <button (click)="onEdit()">Edit</button>
         <button (click)='onDeleteUserDialog(content)'>Delete</button>
      </div>
    </div>
    
      <br><br>
    </div>

    <table id="example" class="table table-hover">
      <thead></thead>
    <tbody class="t-item" >
  <tr *ngFor= "let user of users; let i = index"
    data-toggle="modal" data-target=".bs-example-modal-lg">
    <td> <label><input (click)="onChange(i)" type="checkbox" 
      [(ngModel)]="user.isChecked" 
      (change)="$event.target.checked? (user.isChecked = true) : (user.isChecked = false)"></label> </td>
      <td >
        <div>
            <span><span class="glyphicon glyphicon-user" 
              style="color:#2767D6;padding-right: 11px;"></span></span>  {{ user.name }}
        </div>
      </td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.jobtitle}}</td>
        <td>{{user.email}}</td>
      <!-- <td> <button (click)="deleteUser(user.name)">Delete</button></td>
          <td> <button (click)=onSelect(user)>Edit</button></td> -->
      </tr>
    </tbody>
  </table>                        
</section>
</div>
</div>


<!--start model-->
<ng-template #content let-c="close" let-d="dismiss">
    <div  style="    padding: 16px;">
    <div class="modal-header">    
      <button type="button" class="close"  
      style="font-size: 19px;margin-left: auto;" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="font-size: 15px;">
      <p>Are you sure you want to delete this user  ?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-lg btn-outline-dark" (click)="c('Close click')">Close</button>
      <button type="button" class="btn btn-lg btn-danger">Delete</button>
    </div>
    </div>
  </ng-template>
  
  <!--end model-->
  
