<div class="container-fluid">
  
  <div class="row time-row">
       <div class="col-md-10">
         <span class="addres">Regsiter</span>

       </div>
  </div>

  <div class="row"> 
  <div class="col-md-3"></div>     
    <div class="col-md-6">        

          <div class="copm-back">  
<h2>Basic Info</h2><br>
<form  class="container">
<div class="form-group">
        <label>First Name</label>
        <div >
          <input type="text" name="firstname" class="form-control" autocomplete="off"
           placeholder="*First Name" />        
            </div>
      </div>
      <div class="form-group">
            <label>Last Name</label>
            <div >
              <input type="text" name="lastname" class="form-control" autocomplete="off"
               placeholder="*Last Name" />        
                </div>
          </div>
<div class="form-group">
        <label>Job Title</label>
        <div >
          <input type="text" name="jobtitle" class="form-control" autocomplete="off"
           placeholder="Job Title" />        
            </div>
      </div>
<div class="form-group">
        <label>Change Password</label>
        <div >
          <input type="text" name="password" class="form-control" autocomplete="off"
           placeholder="*Password" />        
            </div>
      </div>
<br>
<input  type="submit" class="btn btn-primary" value="Save"/>  
<input  type="submit" class="btn btn-primary" value="Cancel" (click)='onCancel()'/>  
</form>
          </div>
          
    </div>
     <div class="col-md-3"></div>    
  </div>
</div>