<p>
  clock works!
</p>

<!-- <div>
    <p>Today is {{today | date}}</p>
    <p>Or if you prefer, {{today | date:'fullDate'}}</p>
    <p>The time is {{today | date:'EEEE'}}</p>
    <p>Finally the date and time is {{today | date:'short'}}</p>
  </div>` -->
<div >
<div  style="top: 0px; left: 0px;">
<h1 class="greeting">Happy {{today | date:'EEEE'}}, Cycler!</h1>
        <div>
        <h3 class="current-time">It's currently {{today | date:'hh:mm'}}</h3>
        </div>

<button class="start-shift app-button-green-1" style="padding: 12px 29px; margin-top: 10px;">Start shift</button>



</div>