 <div class="container-fluid">
     <div class="row time-row">
       <div class="col-md-10">
          <span class="addres">Time Clock</span>



       </div>
  <div class="col-md-2">

    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-default btn-lg" id="dropdownBasic1" ngbDropdownToggle>Actions</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1"  style="">
       <p class="btn" (click)="toggle()" > + Add a Shift</p>
<hr> 
      </div>
    </div>

    
</div>





<div [ngStyle] = "setStyle2()" class="ff">
  <button class="btn btn-default" (click)="toggle()">x</button>
  <div  style="    padding: 19px;">

<h2 class="side-font">Add Shift</h2>

<p class="employee-p">Employee</p><br>
<p class="employee-p1">The employee this shift is for. Select multiple employees to add one shift at once.</p>

<select [(ngModel)]="selectedValue" class="form-control">
  <option>Select Name</option>
  <option *ngFor="let user of users" [ngValue]="user.name">{{user.name}}</option>
</select>
<br>
<hr>

<strong>Employee</strong><br>
<input type="datetime-local" [(ngModel)]="shiftIn" class="form-control"><br>
<input type="datetime-local" [(ngModel)]="shiftOut" class="form-control">
<br><br>
<button (click)="AddShift(selectedValue, shiftIn, shiftOut)" class="btn btn-primary btn-lg"
 style="margin-left: 85px; 
    padding: 7px 20px" >Save</button>

  </div>
</div>

</div>



     </div><!--end row-->

  <!-- <div>
    <p>Today is {{today | date}}</p>
    <p>Or if you prefer, {{today | date:'fullDate'}}</p>
    <p>The time is {{today | date:'EEEE'}}</p>
    <p>Finally the date and time is {{today | date:'short'}}</p>
  </div>` -->
 <div class="row">
   <div class="col-md-12">
    <div class="copm-back">


      <div class="comp-margin">
        <h1 class="greeting">Happy {{today | date:'EEEE'}}, {{user}}!</h1>
        <div>
          <h3 class="current-time">It's currently {{today | date:'hh:mm'}}</h3>
          <p *ngIf="!_shiftStart" class="current-time">Total time worked <strong><i>{{ xDuration}}</i></strong></p>

        </div>
        <div *ngIf="!!!_shiftStart">
          <button (click)="TogggleShift()" class="btn btn-danger btn-lg" style="padding: 12px 39px; margin-top: 24px;"> End Shift </button>
        </div>

        <div *ngIf="!!_shiftStart">
          <button (click)="TogggleShift()" class="btn btn-success btn-lg" style="padding: 12px 39px; margin-top: 24px;"> Start Shift </button>
        </div>
        <!--<button (click)="TogggleShift()" [ngClass]="{_shiftStart ? btn btn-danger btn-l : btn btn-success btn-lg}" style="padding: 12px 39px; margin-top: 24px;">{{ _shiftStart ? 'Start Shift' : 'End Shift'}}</button>-->

      </div>
</div>

 </div>
 </div>

     </div>

