<app-right-sidebar>
    <h1>Login</h1>
    <div card-body style="padding-left:20px">
    </div>
  </app-right-sidebar>
  <hr>    
  <form  class="container" #loginForm="ngForm" (ngSubmit)="login(loginForm)" >
    <div class="form-group">
      <label>Username</label>
      <div >
        <input type="text" ngModel name="username" class="form-control" autocomplete="off"
         placeholder="Username" />        
          </div>
    </div>
      <div class="form-group">
          <label for="password">Password</label>
          <div>
            <input ngModel type="text" name="password" class="form-control" autocomplete="new-password"
            placeholder="Password" type="password"/>            
            </div>
        </div>
          <input  type="submit" class="btn btn-primary" value="Submit"/>
           <a routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" routerLink='/register'>Register</a>                
  </form>
  
  
