<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Clock In!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/clock" routerLinkActive="active">Clock <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/time-sheet" routerLinkActive="active">Time Sheet</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link disabled" routerLink="/users" routerLinkActive="active">Users</a>
          </li>
        <li class="nav-item active">
            <a class="nav-link disabled" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>      
     


<!-- <div  class="row">
      <div class="col-md-2" style="padding-left:0px; padding-right:0px;">
      <div  style="background-color: #252020 ; color: #FFFFFF ;    height: 100vh;" >
     <p style="font-size: 30px;margin-left: 30px;
    padding-top: 4px;">Clock In</p>
         <nav class="nav-left" >
    <div>  <a routerLink="/clock" routerLinkActive="active">Clock</a></div>
     <div> <a routerLink="/time-sheet" routerLinkActive="active">Time Sheet</a></div>
     <div> <a routerLink="/users" routerLinkActive="active">Users</a></div>
     <div> <a routerLink="/login" routerLinkActive="active">Login</a></div>
    </nav>
     </div>
      </div>
     
  <div class="col-md-10" style="padding-left:0px; padding-right:0px; background-color: #eee;    height: 100vh;">
  -->
    <router-outlet></router-outlet>


    
    