
  
      <div class="col-md-2" style="padding-left:0px; padding-right:0px;">
      <div  style="background-color: #252020 ; color: #FFFFFF ;    height: 100vh;" >
     <p style="font-size: 30px;margin-left: 30px;
    padding-top: 4px;" routerLink="/clock" routerLinkActive="active">Clock In</p>
    
    <nav class="nav-left" >
    <div>  <a routerLink="/clock" routerLinkActive="active">Clock</a></div>
     <div> <a routerLink="/time-sheet" routerLinkActive="active">Time Sheet</a></div>
     <div> <a routerLink="/users" routerLinkActive="active">Users</a></div>
     <div> <a routerLink="/login" routerLinkActive="active">Login</a></div>
    <div> <a routerLink="/register" routerLinkActive="active">Register</a></div>

    </nav>
     </div>
      </div>
     
  <div class="col-md-10" style="padding-left:0px; 
  padding-right:0px; background-color: #eee;    height: 100vh;">
  
   <router-outlet></router-outlet>
 

    
    