      <div  style="background-color:  #000000; color: #FFFFFF"  class="row">
     <p style="font-size: 30px;margin-left: 30px;
    padding-top: 4px;">Clock In</p>
     </div>

     
       <nav>
      <a routerLink="/clock" routerLinkActive="active">Clock</a>
      <a routerLink="/time-sheet" routerLinkActive="active">Time Sheet</a>
      <a routerLink="/users" routerLinkActive="active">Users</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </nav>
    <router-outlet></router-outlet>


    
    