<p>
  edit-shift-bottom works!
</p>
  

<!-- Trigger/Open The Modal -->


<!-- The Modal -->
<div id="m-Modal" class="ml">

  <!-- Modal content -->
  <div class="m-con">
       <div class="m-header">
      <span class="clo">&times;</span>

    </div>
    <div class="ml-body" >
      <button class="btn btn-default">comments</button>
      <button class="btn btn-default">More Details</button>
      <button class="btn btn-default">Change History</button>
      <button class="btn btn-default">Add Job</button>
      <button class="btn btn-default">Move Shift</button>
      <button class="btn btn-default" onclick="openNavigate2()">Edit Shift</button>
      <button class="btn btn-default" id="mx-Btn">Delete Shift</button>
    </div>
         <!-- model -->
         <div id="mx-Modal" class="mx">

  <!-- Modal content -->
  <div class="mx-con">
    <div class="mx-header">
      <span class="clox">&times;</span>


    </div>
    <div class="mlx-body">
    <p>this will delete user.name shift ,including all jobs clockedunder it ,You can undo this later</p>

      <button class="btn btn-danger" style="margin-left: 30px; margin-top: 19px;}">Delete shift</button>
      <button class="btn btn-default" style="margin-left: 20px;  margin-top: 19px; ">Cancel</button>
    </div>
    <!--<div class="mx-footer">
      <h3>Modal Footer</h3>
    </div>-->
  </div>

</div>
         <!-- model -->
  </div>

</div>
  <!-- footer model -->


<!-- The Modal -->

  <!-- model -->


