
<div class="app-content-body">
 <section class="app-section no-padding">
    <div class="app-data-table-header">




      <h1>
          <span class="filter">
            Active
            <span class="icon"></span>
          </span>
<div id="ember1351" class="popup-bubble below ember-view" style="display: none;"><div>            <ul>
                <li data-ember-action="" data-ember-action-1353="1353">Active</li>
                <li data-ember-action="" data-ember-action-1355="1355">Inactive</li>
            </ul>
</div>
<div class="tail left "></div></div>      </h1>

      <div class="app-data-table-actions">
        <span class="action search" data-ember-action="" data-ember-action-1356="1356">
          <input type="text" placeholder="Search" id="ember1357" class="hidden  ember-text-field ember-view">
          <div id="ember1358" class="hover-info ember-view"><!----></div>
          <span class="action-icon "></span>
        </span>
        <span class="action export">
          <div id="ember1359" class="hover-info ember-view"><!----></div>
          <span class="action-icon"></span>
       </span>
        <span class="action overflow">
          <div id="ember1363" class="hover-info ember-view"><!----></div>
          <span class="action-icon"></span>
       </span>
      </div>
    </div>
    <table class="app-data-table ember-view"><thead>

</thead>
  <tr id="m-Btn" class=" emb app-data-table-row ember-view">
   <td class="app-data-table-cell check-item">
    <label><input type="checkbox" id="ember1415" class="ember-checkbox ember-view"></label>
  </td>
  <td id="ember1420" class="app-data-table-cell ember-view">
   <div id="e" class="app-data-table-user ember-view">
  <span id="ember1426" class="size-16 profile-pic ember-view">
   <span class="glyphicon glyphicon-user" style="color: #CC66CC;padding-right: 11px;"></span>
</span>
  Harb, Amany
</div>
</td>
  <td id="eb" class="app-data-table-cell ember-view">  9:29 am
</td>
  <td id="eb" class="app-data-table-cell ember-view">   11:35 am
</td>
  <td id="eb" class="app-data-table-cell ember-view">  2hours,6 min
</td>
</tr>
  <tr id="m-Btn2" class=" emb app-data-table-row ember-view">  <td class="app-data-table-cell check-item">
    <label><input type="checkbox" id="ember1431" class="ember-checkbox ember-view"></label>
  </td>
  <td id="ember1432" class="app-data-table-cell ember-view">  <div id="b" class="app-data-table-user ember-view">
  <span id="ember1434" class="size-16 profile-pic ember-view"> <span class="glyphicon glyphicon-user" style=" color: #0066CC;padding-right: 11px;"></span>
</span>
  Jamal, Khaled
</div>
</td>
  <td id="" class="app-data-table-cell ember-view">  9:29 am
</td>
  <td id="" class="app-data-table-cell ember-view">  <button  class="btn btn-default btn-sm">End Shift</button>
</td>
  <td id="" class="app-data-table-cell ember-view">  2hours,6 min
</td>
</tr>
  <tr id="m-Btn3" class=" emb app-data-table-row ember-view">  <td class="app-data-table-cell check-item">
    <label><input type="checkbox" id="ember1439" class="ember-checkbox ember-view"></label>
  </td>
  <td id="ember1440" class="app-data-table-cell ember-view">  <div id="" class="app-data-table-user ember-view">
  <span id="ember1442" class="size-16 profile-pic ember-view">  <span class="glyphicon glyphicon-user" style=" color: #CC3300; padding-right: 11px;"></span>
</span>
  Mostafa, Tarek
</div>
</td>
  <td id="" class="app-data-table-cell ember-view">  9:29 am
</td>
  <td id="" class="app-data-table-cell ember-view">   11:35 am
</td>
  <td id="" class="app-data-table-cell ember-view">  2hours,6 min
</td>
</tr>
  <tr id="m-Btn4" class=" emb app-data-table-row ember-view">  <td class="app-data-table-cell check-item">
    <label><input type="checkbox" id="ember1447" class="ember-checkbox ember-view"></label>
  </td>
  <td id="ember1448" class="app-data-table-cell ember-view">  <div id="" class="app-data-table-user ember-view">
  <span id="ember1450" class="size-16 profile-pic ember-view">  <span class="glyphicon glyphicon-user" style=" color: #009933; padding-right: 11px;"></span>
</span>
  Nour, Osama
</div>
</td>
  <td id="" class="app-data-table-cell ember-view">   9:29 am
</td>
  <td id="" class="app-data-table-cell ember-view">   11:35 am
</td>
  <td id="" class="app-data-table-cell ember-view">  2hours,6 min
</td>
</tr>
  <tr id="m-Btn5" class="emb app-data-table-row ember-view">  <td class="app-data-table-cell check-item">
    <label><input type="checkbox" id="ember1455" class="ember-checkbox ember-view"></label>
  </td>
  <td id="ember1456" class="app-data-table-cell ember-view">  <div id="" class="app-data-table-user ember-view">
  <span id="ember1458" class="size-16 profile-pic ember-view"> <span class="glyphicon glyphicon-user" style=" color: #666600; padding-right: 8px;"></span>
</span>
  Sloma, Mahmoud
</div>
</td>
  <td id="" class="app-data-table-cell ember-view">   9:29 am
</td>
  <td id="" class="app-data-table-cell ember-view">   11:35 am
</td>
  <td id="" class="app-data-table-cell ember-view">  2hours,6 min
</td>
</tr>
</table>
                          
</section>
  </div>


  
    <router-outlet></router-outlet>
