<div class="container-fluid">
  
  <div class="row time-row">
       <div class="col-md-10">
         <div>
         <span class="addres">Time sheet</span>

 <span style=" margin-left: 21px;">
  <span style="font-size: 13px;"> Filter by User : </span>
  <select (click)="activateUser(xUser)" [(ngModel)]="xUser" style=" margin-left: 2px;"> 
      <option selected>All</option>
      <option *ngFor="let user of usersList">{{user.name}}</option>
  </select>
 </span>
 <span>

   <span style=" margin-left: 37px;font-size: 13px;">Filter by date : </span>
   <span style="margin-left: 3px;">
<md-form-field>
  <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="xDate" (ngModelChange)="activateDate(xDate)">
  <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
  <md-datepicker #picker></md-datepicker>
</md-form-field>
   </span>
<a (click)="clearAll()" style="margin-left: 40px;font-size: 13px;">Clear Filters</a>


  <!--<input (click)="activateDate()" [(ngModel)]="xDate" type="date" > &emsp;&emsp;
  -->



 </span>


      <!--   <span>
<button md-button [mdMenuTriggerFor]="menu">All Activity</button>
<md-menu #menu="mdMenu"  style="margin-top: 37px;">
  <button md-menu-item>all activity</button>
  <button md-menu-item>clock times</button>
</md-menu>
         </span>-->



 
        <!--<span>
<button md-button [mdMenuTriggerFor]="menu">All Users</button>
<md-menu #menu="mdMenu"  style="margin-top: 37px;">
 <tr *ngFor="let shift of timeSheets | timeFilter: xUser : xDate; let i = index">
        
          <td>
            <div>
              <span><span class="glyphicon glyphicon-user" style="color: #CC66CC;padding-right: 11px;">
                </span></span> {{shift.username }}
            </div>
          </td>
    
        </tr>

</md-menu>
         </span>-->

  </div>
       </div>
  <div class="col-md-2">


<button class="btn btn-default btn-lg" (click)="toggle1()">Action</button>

<div [ngStyle] = "setStyle1()" class="ff">
  <button class="btn btn-default" (click)="toggle1()">x</button>

  <app-add-shift></app-add-shift>

 </div>
  </div>
  </div>



<flash-messages></flash-messages>

<div class="row">
  <div class="col-md-12">
<div *ngIf="isedittrue" class="copm-back">

 

  <form #myForms="ngForm" (ngSubmit)="onSubmit(myForms.value)">
    <label>username</label> &emsp;&emsp;&emsp;&emsp; From: &emsp;
     <input type="datetime-local" name="timein" [(ngModel)]="timeIn">
         &emsp;&emsp; To: &emsp; <input type="datetime-local" name="timeout"
          [(ngModel)]="timeOut"> &emsp;&emsp;&emsp;&emsp;
    <button type="submit">Save</button>&emsp;
    <button (click)="onEditCancel()">Cancel</button>
  </form>
</div>
</div>
</div>
<div class="row">
  <div class="col-md-12">
<div>
  <section *ngFor="let timesheet of diffTimeSheet" class="copm-back">
    <div>
      <p>
        <strong>{{ timesheet.date| date: fullDate}}</strong>
      </p>
      <br>
    </div>
    <table id="example" class="table table-hover">
      <thead></thead>
      <tbody class="t-item">

        <tr *ngFor="let shift of timesheet.obj">
          <!--<td> <label><input type="checkbox"  class=""></label> </td>-->
          <td>
            <div>
              <span><span class="glyphicon glyphicon-user" style="color: #CC66CC;padding-right: 11px;">
                </span></span> {{shift.username }}
            </div>
          </td>
          <td>{{ shift.timein | date:'HH:mm' }}</td>
          <td *ngIf="shift.timeout"> {{shift.timeout | date:'HH:mm' }}</td>
          <td *ngIf="!shift.timeout"><button (click)="endShiftNow(shift)">End shift</button>
            <td>
              <td> {{ shift.date | date: fullDate}} </td>
              <td> {{ shift.total }}</td>
              <td><button (click)="EditRef(shift)">Edit</button> </td>
              <td><button type="button" (click)="open(content)">Delete</button> </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
</div>
</div>
</div>

<!--
  <div  class="copm-back">
<app-editshift></app-editshift>
</div>
-->



<!--start model-->
<ng-template #content let-c="close" let-d="dismiss">
  <div  style="    padding: 16px;">
  <div class="modal-header" >
  
    <button type="button" class="close"  
    style="font-size: 19px;margin-left: auto;" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="font-size: 15px;">
    <p>Are You Sure You Want To Delete This..?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-outline-dark" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-lg btn-danger">Delete</button>
  </div>
  </div>
</ng-template>

<!--end model-->



