

<div class="container-fluid">

   <div class="row time-row">
       <div class="col-md-10">
          <h1>Time Clock</h1>
       </div>

  <div class="col-md-2">
    <div >
      <button class="btn" (click)="toggle1()">Actions</button>
     

    <!--start side bar-->
<div [ngStyle] = "setStyle1()" class="ff">
  <button class="btn btn-default" (click)="toggle1()">x</button>
  <div  style="    padding: 19px;">

<h2>Add Shift</h2>

<strong>Employee</strong><br>
<p>The employee this shift is for. Select multiple employees to add one shift at once.</p>

<select [(ngModel)]="selectedValue">
  <option>Select Name</option>
  <option *ngFor="let user of users" [ngValue]="user.name">{{user.name}}</option>
</select>
<br>
<hr>

<strong>Employee</strong><br>
<input type="datetime-local" [(ngModel)]="shiftIn"><br>
<input type="datetime-local" [(ngModel)]="shiftOut">
<br><br>
<button (click)="AddShift(selectedValue, shiftIn, shiftOut)">Save</button>

  </div></div>
<!--end side bar-->
 


  </div>


  </div>



     </div><!--end row-->

<!--<app-right-sidebar [bugerBox]='true'>
  <h1>Timesheet</h1>
  
  <div card-body style="padding-left:20px">

    <app-add-shift></app-add-shift>

  </div>
</app-right-sidebar>-->

<flash-messages></flash-messages>


<div class="row">
  <div class="col-md-12">
<div class="copm-back">
  Filter by User
  <select (click)="activateUser()" [(ngModel)]="xUser"> 
      <option selected>All</option>
      <option *ngFor="let user of timesheetsDB">{{user.username}}</option>
  </select> &emsp;&emsp;&emsp;&emsp;&emsp; Filter by date
  <input (click)="activateDate()" [(ngModel)]="xDate" type="date"> &emsp;&emsp;
  <a (click)="clearAll()">Clear Filters</a>
</div>
</div>
</div>


<div class="row">
  <div class="col-md-12">
<div *ngIf="isedittrue" class="copm-back">
  <form #myForms="ngForm" (ngSubmit)="onSubmit(myForms.value)">
    <label>username</label> &emsp;&emsp;&emsp;&emsp; From: &emsp; <input type="datetime-local" name="timein" [(ngModel)]="timeIn">    &emsp;&emsp; To: &emsp; <input type="datetime-local" name="timeout" [(ngModel)]="timeOut"> &emsp;&emsp;&emsp;&emsp;
    <button type="submit">Save</button>&emsp;
    <button (click)="onEditCancel()">Cancel</button>
  </form>

</div>

</div>
</div>


<div class="row">
  <div class="col-md-12">
<div>
  <section class="copm-back">
    <div>
      <p>
        <strong>{{ xDate ? (xDate | date: fullDate) : 'All Timesheets'}}</strong>
      </p>

      <br>
    </div>
    <table id="example" class="table table-hover">
      <thead></thead>
      <tbody class="t-item">

        <tr *ngFor="let shift of timeSheet | timeFilter: xUser : xDate; let i = index">
          <!--<td> <label><input type="checkbox"  class=""></label> </td>-->
          <td>
            <div>
              <span><span class="glyphicon glyphicon-user" style="color: #CC66CC;padding-right: 11px;"></span></span> {{
              shift.username }}
            </div>
          </td>

          <td>{{ shift.timein | date:'HH:mm' }}</td>

          <td *ngIf="shift.timeout"> {{shift.timeout | date:'HH:mm' }}</td>
          <td *ngIf="!shift.timeout"><button (click)="endShiftNow(i, shift.timein)">Edit shift</button>
            <td>
              <td> {{ shift.date | date: fullDate}} </td>
              <td> {{ shift.total }}</td>
              <td><button (click)="EditRef(i, shift.timein, shift.timeout)">Edit</button> </td>
              <td><button type="button" (click)="open(content)">Delete</button> </td>

        </tr>

      </tbody>
    </table>


  </section>
</div>
</div>
</div>

</div><!-- end container-fluid-->



<!--
  <div  class="copm-back">
<app-editshift></app-editshift>
</div>
-->



<!--start model-->
<ng-template #content let-c="close" let-d="dismiss">
  <div  style="    padding: 16px;">
  <div class="modal-header" >
  
    <button type="button" class="close"  style="font-size: 19px;margin-left: auto;" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="font-size: 15px;">
    <p>Are You Sure You Want To Delete This..?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-outline-dark" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-lg btn-danger">Delete</button>
  </div>
  </div>
</ng-template>

<!--end model-->



