
  <div class="container-fluid">
  
  <div class="row time-row">
       <div class="col-md-10">
         <span class="addres">Regsiter</span>

       </div>
  </div>
           
  <div class="row"> 
    <div class="col-md-3"></div>
     <div class="col-md-6">
       <div class="copm-back">
  <form  class="container" #registerForm=ngForm (ngSubmit)="register(registerForm)">
    <div class="form-group">
      <label>Username</label>
      <div >
        <input type="text" name="username" class="form-control" autocomplete="off"
         placeholder="Username" ngModel/>        
          </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <div >
          <input type="text" name="email" class="form-control" autocomplete="off"
          placeholder="Email" ngModel/>          
        </div>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <div>
            <input type="text" name="password" class="form-control" autocomplete="off"
            placeholder="Password" type="password" autocomplete="new-password" ngModel/>            
            </div>
        </div>
        <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <div>
              <input type="text" name="confirm" class="form-control" autocomplete="off"
              placeholder="Confirm Password" type="password"/>              
              </div>
          </div>
          <input  type="submit" class="btn btn-primary" value="Submit"/>                    
  </form>
       </div>
  </div>  
 <div class="col-md-3"></div>
  </div>
  </div>